# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Pytorch
4. TensorFlow

In [32]:
import pandas as pd

data = ['Jupyter Notebook', 'VS Code' , 'RStudio']

df = pd.DataFrame(data, columns=["Data Science Tools"])

df

  Data Science Tools
0   Jupyter Notebook
1            VS Code
2            RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [68]:
# This will convert 200 minutes to hours by diving by 60
hours= 200/60
hours

3.3333333333333335

## A. Kolker